@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Avenir";
  font-display: swap;
  src:
    url("../fonts/AvenirNextCyr-Medium.woff") format("woff2"),
    url("../fonts/AvenirNextCyr-Medium.woff2") format("woff");
}
